/*
 *@description: 公共参数、提取公共颜色到一个文件、方便以后换主题。
 *@author: liuna 
 *@date: 2020-08-17 15:06:01
*/
//头部
$headerBackground : #008DFF;

//菜单
$menuBg : #04234D;
$menuHover : #031C3E;
$subMenuActiveBg : #0B57AB;
$activeFontColor : #FFFFFF;
$activeRightBorderColor : #008CFF;

//主体部分
$mainBg : #F4F4F4;
$mainContainerBg : #FFFFFF;
